@font-face {
    font-family: 'Fredoka';
    src: url("../fonts/Fredoka-Light.ttf") format("ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Fredoka';
    src: url("../fonts/Fredoka-Medium.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Fredoka';
    src: url("../fonts/Fredoka-Regular.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
}
